<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733299001176-b41g1jabcjjanglejvvchtha54siao7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733299001176-b41g1jabcjjanglejvvchtha54siao7v</string>
	<key>API_KEY</key>
	<string>AIzaSyB2zNV49rogylDj0wySzI92d1clmzOkARg</string>
	<key>GCM_SENDER_ID</key>
	<string>733299001176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.german.StorageHelper</string>
	<key>PROJECT_ID</key>
	<string>storagehelper-8223d</string>
	<key>STORAGE_BUCKET</key>
	<string>storagehelper-8223d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733299001176:ios:fecd60e1a2c2769104c72d</string>
</dict>
</plist>